@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.ERPMenuBarCurve af|menu::bar-item-icon-style
{
width: 30px;
height: 30px;
padding-top: 0px;
padding-bottom: 0px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.ERPMenuBarCurve af|menu::bar-item-text
{
font-weight: bold;    
}

.ERPLoginUserImageCurve
{
     border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width:40px;
    height:40px;
}
.WBDisplayBlock {
    display: inline-block;
}


af|listItem.WBDisplayBlock {
    background-color: transparent; 
    border-bottom: 0px solid transparent; 
}


af|listItem.WBDisplayBlockPadding  {
    padding: 15px;
}


WBDisplayBlockCenterUndo {
text-align: left;
}

af|listItem.WBListPadding  {
    padding: 5px 10px 0px 10px;
}

.WBCardSize{
    width: 240px;
    height: 200px
}   

.WBImageCard {
    width: 54px;
    height: 54px;
}

.WBImageCardBorder {
    border-radius: 48px;
    border: 1px solid -tr-property-ref(".AFPanelBorderColor:alias", "color");
}

af|decorativeBox::frame{
    border:none  ;
}

.ErpDeleteConfirmText
{
font-size:large;
font-weight:bold;
color:red;    
}

af|link.ERPLink {
    display: inline-block;
     background-color:#fcf7e8;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

af|link.ERPLink:hover,
 af|link.ERPLink:active,
 af|link.ERPLink:active:hover,
 af|link.ERPLink:focus:hover,
 af|link.ERPLink:focus:hover:active {
    display: inline-block;
    padding: 10px 10px;
    background: #ebf5fc;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.ERPHeroBannerFont {
    font-size:18px;
    color:DarkBlue;
    font-weight: bolder;
    font-family: sans-serif; 
}

.ERPHeroBackground
{
     background-color:#fcf7e8;
}


/**/
.ERPHeroDetailColor
{
    font-weight:bold;
    /*color:#83cdde*/
    color:Black;
}


.ERPHeroDetailColorChoice af|selectOneChoice::content
{
    font-weight:bold;
    /*color:#83cdde*/
    color:Black;
}

.ERPLabel
{
    color:gray
}
af|inputFile::content
{
    color: White;
}
/**/
af|inputListOfValues{
             -tr-stretch-search-dialog: true;
           } 


af|inputComboboxListOfValues{
             -tr-stretch-search-dialog: true;
           } 
           
           
af|inputText::content{
  color: Black;
  font-weight: bold;
}

          
af|selectOneChoice::content{
  color: Black;
  font-weight: bold;
}

af|inputDate::content{
  color: Black;
  font-weight: bold;
}

af|inputComboboxListOfValues::content{
  font-weight: bolder;
  color: Black;
}

af|outputLabel{
  font-weight: bolder;
  color: Highlight;
}

af|inputText:read-only::label{
  font-weight: bolder;
  color: Highlight;
}

af|inputDate:read-only::label{
  font-weight: bolder;
  color: Highlight;
}

af|selectOneChoice:read-only::label{
  font-weight: bolder;
  color: Highlight;
}

.ERPToolBarBackground
{
    background:#e6f7fc
}
.ERPCompanyInfoBackGround
{
    background:#edfcf9
}

/*
af|panelCollection div[id$='_dchTbr'] {
    display: none;
}
af|panelCollection div[id$='pc1:_vw'] {
    display: none;
}
af|panelCollection div[id$='pc1:_tbr'] {
    display: none;
}
af|panelCollection div[id$='pc1::_ahTp'] {
    display: none;
}*/

/*af|panelCollection{
    display: none;
}*/


.ERPEntryAreaHeading{
    background:#309fdb;
}

.ERPEntryAreaFont{
    font-size:large;
    color:white;
    font-weight:bold
}


af|toolbox::leading-cell:ltr{
  border: none Black thick;
}

af|panelCollection af|menuBar,af|commandToolbarButton::link {
  display:none
}

.ERPActivityNameFormHeading
{
    font-weight:bold
}